# Test Results

**Status:** failed
**Run ID:** a62e8dc3-bb2e-4bd7-a0a0-4827973bc75d
**Job ID:** d23435c1-3ef8-44a1-b431-794c20d78d83
**Orbit ID:** e8a20852-f52e-47b3-824b-f5438a8cc9f1
**Timestamp:** 2026-03-12T17:33:38Z

## Output

```
FAIL	./... [setup failed]
FAIL

# ./...
pattern ./...: directory prefix . does not contain main module or its selected dependencies

```
