# Test Results

**Status:** failed
**Run ID:** f8a2df29-7a02-436e-ad0c-03969006a4f7
**Job ID:** 7974de2c-45bc-4db5-be07-4727b44b8f75
**Orbit ID:** e8a20852-f52e-47b3-824b-f5438a8cc9f1
**Timestamp:** 2026-03-12T16:30:47Z

## Output

```
FAIL	./... [setup failed]
FAIL

# ./...
pattern ./...: directory prefix . does not contain main module or its selected dependencies

```
