# Test Results

**Status:** failed
**Run ID:** 3cd807d1-5c33-47ce-83bf-932e7810c6ee
**Job ID:** 13327d16-63c0-4a4a-8974-c9e60a9f0fa8
**Orbit ID:** e8a20852-f52e-47b3-824b-f5438a8cc9f1
**Timestamp:** 2026-03-12T18:29:53Z

## Output

```
FAIL	./... [setup failed]
FAIL

# ./...
pattern ./...: directory prefix . does not contain main module or its selected dependencies

```
