# Test Results

**Status:** failed
**Run ID:** 0d5992b4-278c-4635-bf78-9c1055d65cbc
**Job ID:** fd834a6e-c97e-45a7-9d19-afaa7692eb41
**Orbit ID:** e8a20852-f52e-47b3-824b-f5438a8cc9f1
**Timestamp:** 2026-03-12T16:46:22Z

## Output

```
FAIL	./... [setup failed]
FAIL

# ./...
pattern ./...: directory prefix . does not contain main module or its selected dependencies

```
