# Test Results

**Status:** failed
**Run ID:** c2ea0eee-7d29-4069-af3f-b721a8cffa34
**Job ID:** d05e23a7-1b30-42ec-9a6d-20d448c0539c
**Orbit ID:** e8a20852-f52e-47b3-824b-f5438a8cc9f1
**Timestamp:** 2026-03-12T15:24:26Z

## Output

```
FAIL	./... [setup failed]
FAIL

# ./...
pattern ./...: directory prefix . does not contain main module or its selected dependencies

```
